@charset "UTF-8";
/* basic */
body {
  background-color: #FFFFFF;
  margin: 5px;
  padding: 0px;
  outline: 0px;
}

/* block */
div.section {
  font-size: 0.75em;
  line-height: 1.6em;
  border: 1px solid #B6D9F2;
  background-color: #F2FAFF;
  margin: 10px 20px 10px 10px;
}

html, body {
  height: 100%;
}

html {
  font-size: 112%;
}

div.section h3 {
  font-size: 1em;
  color: #333;
  margin-left: 5px;
}

div.section h4 {
  font-size: 1em;
  color: #333;
}

div.section p, div.section ul, div.section li, div.section dt, div.section dd {
  font-size: 1em;
  font-weight: normal;
}

div.section ul li b {
  font-size: 1em;
  font-weight: bold;
}

div.section ol, div.section ol li {
  font-size: 1em;
}

div.link {
  background-color: #FEC;
  margin: 5px 10px 20px 10px;
  border: 1px solid #F93;
}

div.link p {
  background-color: #F93;
  padding: 0 2px;
  margin: 0;
  font-weight: 800;
  color: #FFF;
  text-align: center;
  line-height: 1.6em;
}

div.link a {
  font-weight: 300;
  letter-spacing: 0px;
  text-decoration: none;
  color: black;
}

div.link a:hover {
  color: orange;
  font-size: 0.75em;
  font-weight: 800;
}

div.link a:active {
  color: red;
}

.top {
  text-align: right;
  padding-bottom: 1.1em;
}

.top a {
  text-decoration: none;
  color: white;
  font-weight: 800;
  padding: 2px;
  font-size: 0.75em;
  background-color: #F93;
}

.top a:hover {
  color: yellow;
}

.top a:active {
  color: red;
  font-size: 0.75em;
}

.location, .location2 {
  text-align: left;
  font-size: 0.75em;
  margin: 0 12px;
  line-height: 1.2em;
  border-top: 1px #000 dotted;
  padding: 4px 0 8px 0;
}

.location2 {
  border-top: none;
}

.location b, .location2 b {
  font-style: italic;
  color: white;
  background-color: #777;
  padding-right: 3px;
}

.location span, .location2 span {
  background-color: #777;
  color: #CCC;
  padding-right: 3px;
  padding: 3px;
}

.location span.head, .location2 span.head {
  background-color: #444;
  padding-left: 2px;
  color: white;
}

/* titles */
h1, h2, h3, h4 {
  font-family: "Arial", "微軟正黑體",  "微软雅黑", "Verdana", "Helvetica", "sans-serif", "Meiryo", "Malgun Gothic","Gulim";
  color: #3C4650;
  margin: 0px 10px 0.5em 10px;
  padding-top: 1em;
  font-weight: bold;
}

h1 {
  padding-top: 0px;
  border-bottom: 1px solid #D7E1EB;
  font-weight: 800;
  font-size: 1em;
  line-height: 1.6em;
}

h2 {
  border-bottom: 1px #D7E1EB dashed;
  font-size: 0.875em;
  line-height: 1.6em;
}

h3 {
  margin: 1.1em 12px 0.5em 8px;
  padding: 1px 2px;
  background-color: #EBF0F5;
  font-size: 0.75em;
  line-height: 1.6em;
}

h4 {
  padding-top: 0.6em;
  margin-bottom: 0.3em;
  font-family: "Arial", "微軟正黑體",  "微软雅黑", "Verdana", "Helvetica", "sans-serif", "Meiryo", "Malgun Gothic","Gulim";
  font-weight: bold;
  font-size: 0.75em;
  color: #2972A6;
}

/* paragraph */
p, ol, ul, dl, table {
  font-family: "Arial", "微軟正黑體",  "微软雅黑", "Verdana", "Helvetica", "sans-serif", "Meiryo", "Malgun Gothic","Gulim";
  font-size: 0.75em;
  color: #505A64;
  line-height: 1.6em;
  margin: 0 16px 0 10px;
  padding: 0 0 6px 0;
}

ol li, ul li {
  font-size: 1em;
  margin: 0 0 0 2em;
  padding-bottom: 3px;
}

p b, p strong,
ol li b, ol li strong,
ul li b, ul li strong {
  font-size: 1em;
}

ol p, ol p span, ol p strong, ol p b {
  font-size: 1em;
}

ol li ul, ol li ul li, ol li ul li ol li {
  font-size: 1em;
}

ol ul, ul ul, ol ol, ul ol {
  font-size: 1em;
  padding-bottom: 0px;
}

ul li {
  font-size: 1em;
  list-style-type: square;
}

ol ul li, ul ul li {
  font-size: 1em;
  list-style-type: square;
}

ol ol li, ul ol li {
  font-size: 1em;
  list-style-type: lower-alpha;
}

li.no {
  font-size: 1em;
  list-style-type: none;
}

ul p {
  font-size: 1em;
  padding-left: 15px;
}

ul div {
  font-size: 1em;
}

ol div.section, ol div.section span,
ol div.section li, ol div.section li strong {
  font-size: 1em;
}

ul div.section, ul div.section span,
ul div.section li, ul div.section li b, ul div.section li strong {
  font-size: 1em;
}

ul table, ol table {
  font-size: 1em;
}

ol li p, ol li p span, ol li p a {
  font-size: 1em;
}

/* table */
table, th, td {
  border: 1px solid #C8D2DC;
  border-collapse: collapse;
  vertical-align: middle;
  padding: 0px;
}

table {
  font-size: 0.75em;
  width: 95%;
  margin-bottom: 1em;
}

th, td {
  padding: 1px 5px 1px 5px;
  background-color: #F0F5FA;
}

td {
  background-color: #FFFFFF;
}

table caption {
  text-align: left;
  font-family: "Arial", "微軟正黑體",  "微软雅黑", "Verdana", "Helvetica", "sans-serif", "Meiryo", "Malgun Gothic","Gulim";
  font-weight: bold;
  font-size: 1em;
}

td b, td strong, td ul {
  font-size: 1em;
}

/* emphasis words in paragraph */
.letterSpace5 {
  letter-spacing: 3px;
  color: #FA4B4B;
}
.router .letterSpace5 {
  color: #C43A2A;
}

b, strong {
  color: #3C4650;
  font-size: 0.75em;
  padding-left: 2px;
  padding-right: 2px;
  font-weight: bold;
}

.note_head {
  font-size: 1em;
  font-family: "Arial", "微軟正黑體",  "微软雅黑", "Verdana", "Helvetica", "sans-serif", "Meiryo", "Malgun Gothic","Gulim";
  font-weight: bold;
  color: #00A66E;
  margin-right: 2px;
}
.router .note_head {
  color: #00966D;
}

.note_content {
  font-size: 1em;
  color: #FA4B4B;
}
.router .note_content {
  color: #C43A2A;
}

dt {
  font-weight: 800;
}

a {
  text-decoration: none;
  color: #0086E5;
  font-weight: bold;
  letter-spacing: 0.5px;
}
.router a {
  color: #2A588C;
}

a:hover {
  text-decoration: underline;
  color: #0095FF;
}
.router a:hover {
  color: #1563C7;
}

a:active {
  color: #0077CC;
}
.router a:active {
  color: #264F7E;
}

/* For article image setting */
img.help_image {
  height: auto;
  max-width: 95%;
  margin: 6px 0;
  margin-left: 10px;
}

ol ul img.help_image {
  margin-left: 26px;
}

ul ol img.help_image {
  margin-left: 26px;
}

ol img.help_image {
  margin-left: 26px;
}

ul img.help_image {
  margin-left: 26px;
}

.img-no-display img.help_image {
  display: none;
}

/* start of disable model/platform (matched content would be hidden)*/
.platform-88f6281 .disable-88f6281 {
  display: none;
}

.platform-7820 .disable-7820 {
  display: none;
}

.platform-alpine .disable-alpine {
  display: none;
}

.platform-alpine4k .disable-alpine4k {
  display: none;
}

.platform-armada370 .disable-armada370 {
  display: none;
}

.platform-armada375 .disable-armada375 {
  display: none;
}

.platform-armadaxp .disable-armadaxp {
  display: none;
}

.platform-avoton .disable-avoton {
  display: none;
}

.platform-braswell .disable-braswell {
  display: none;
}

.platform-broadwell .disable-broadwell {
  display: none;
}

.platform-bromolow .disable-bromolow {
  display: none;
}

.platform-cedarview .disable-cedarview {
  display: none;
}

.platform-comcerto2k .disable-comcerto2k {
  display: none;
}

.platform-dockerx64 .disable-dockerx64 {
  display: none;
}

.platform-evansport .disable-evansport {
  display: none;
}

.platform-grantley .disable-grantley {
  display: none;
}

.platform-hi3535 .disable-hi3535 {
  display: none;
}

.platform-kvmx64 .disable-kvmx64 {
  display: none;
}

.platform-monaco .disable-monaco {
  display: none;
}

.platform-northstarplus .disable-northstarplus {
  display: none;
}

.platform-ppc853x .disable-ppc853x {
  display: none;
}

.platform-qoriq .disable-qoriq {
  display: none;
}

.platform-ti816x .disable-ti816x {
  display: none;
}

.platform-x86 .disable-x86 {
  display: none;
}

.model-eds14 .disable-eds14 {
  display: none;
}

.model-ds1616p .disable-ds1616p {
  display: none;
}

.model-rs10613xsp .disable-rs10613xsp {
  display: none;
}

.model-rs3411rpxs .disable-rs3411rpxs {
  display: none;
}

.model-rs3412rpxs .disable-rs3412rpxs {
  display: none;
}

.model-rs3411xs .disable-rs3411xs {
  display: none;
}

.model-rs3412xs .disable-rs3412xs {
  display: none;
}

.model-3611xs .disable-3611xs {
  display: none;
}

.model-3612xs .disable-3612xs {
  display: none;
}

.model-3615xs .disable-3615xs {
  display: none;
}

.model-rs3413xsp .disable-rs3413xsp {
  display: none;
}

.model-rs3614xs .disable-rs3614xs {
  display: none;
}

.model-rs3614rpxs .disable-rs3614rpxs {
  display: none;
}

.model-rs3614xsp .disable-rs3614xsp {
  display: none;
}

.model-rs3415xsp .disable-rs3415xsp {
  display: none;
}

.model-rc18015xsp .disable-rc18015xsp {
  display: none;
}

.model-es3614xsp .disable-es3614xsp {
  display: none;
}

.model-rs18015xsp .disable-rs18015xsp {
  display: none;
}

.model-rs18016xsp .disable-rs18016xsp {
  display: none;
}

.model-rs2416p .disable-rs2416p {
  display: none;
}

.model-rs2416rpp .disable-rs2416rpp {
  display: none;
}

.model-nvr216 .disable-nvr216 {
  display: none;
}

/* end of disable model/platform */
/* start of enable model/platform (only matched content would show)*/
.enable-88f6281 {
  display: none;
}

.enable-7820 {
  display: none;
}

.enable-alpine {
  display: none;
}

.enable-alpine4k {
  display: none;
}

.enable-armada370 {
  display: none;
}

.enable-armada375 {
  display: none;
}

.enable-armadaxp {
  display: none;
}

.enable-avoton {
  display: none;
}

.enable-braswell {
  display: none;
}

.enable-broadwell {
  display: none;
}

.enable-bromolow {
  display: none;
}

.enable-cedarview {
  display: none;
}

.enable-comcerto2k {
  display: none;
}

.enable-dockerx64 {
  display: none;
}

.enable-evansport {
  display: none;
}

.enable-grantley {
  display: none;
}

.enable-hi3535 {
  display: none;
}

.enable-kvmx64 {
  display: none;
}

.enable-monaco {
  display: none;
}

.enable-northstarplus {
  display: none;
}

.enable-ppc853x {
  display: none;
}

.enable-qoriq {
  display: none;
}

.enable-ti816x {
  display: none;
}

.enable-x86 {
  display: none;
}

.enable-eds14 {
  display: none;
}

.enable-ds1616p {
  display: none;
}

.enable-rs10613xsp {
  display: none;
}

.enable-rs3411rpxs {
  display: none;
}

.enable-rs3412rpxs {
  display: none;
}

.enable-rs3411xs {
  display: none;
}

.enable-rs3412xs {
  display: none;
}

.enable-3611xs {
  display: none;
}

.enable-3612xs {
  display: none;
}

.enable-3615xs {
  display: none;
}

.enable-rs3413xsp {
  display: none;
}

.enable-rs3614xs {
  display: none;
}

.enable-rs3614rpxs {
  display: none;
}

.enable-rs3614xsp {
  display: none;
}

.enable-rs3415xsp {
  display: none;
}

.enable-rc18015xsp {
  display: none;
}

.enable-es3614xsp {
  display: none;
}

.enable-rs18015xsp {
  display: none;
}

.enable-rs18016xsp {
  display: none;
}

.enable-rs2416p {
  display: none;
}

.enable-rs2416rpp {
  display: none;
}

.enable-nvr216 {
  display: none;
}

.platform-88f6281 .enable-88f6281 {
  display: block;
}
.platform-88f6281 li.enable-88f6281 {
  display: list-item;
}

.platform-7820 .enable-7820 {
  display: block;
}
.platform-7820 li.enable-7820 {
  display: list-item;
}

.platform-alpine .enable-alpine {
  display: block;
}
.platform-alpine li.enable-alpine {
  display: list-item;
}

.platform-alpine4k .enable-alpine4k {
  display: block;
}
.platform-alpine4k li.enable-alpine4k {
  display: list-item;
}

.platform-armada370 .enable-armada370 {
  display: block;
}
.platform-armada370 li.enable-armada370 {
  display: list-item;
}

.platform-armada375 .enable-armada375 {
  display: block;
}
.platform-armada375 li.enable-armada375 {
  display: list-item;
}

.platform-armadaxp .enable-armadaxp {
  display: block;
}
.platform-armadaxp li.enable-armadaxp {
  display: list-item;
}

.platform-avoton .enable-avoton {
  display: block;
}
.platform-avoton li.enable-avoton {
  display: list-item;
}

.platform-braswell .enable-braswell {
  display: block;
}
.platform-braswell li.enable-braswell {
  display: list-item;
}

.platform-broadwell .enable-broadwell {
  display: block;
}
.platform-broadwell li.enable-broadwell {
  display: list-item;
}

.platform-bromolow .enable-bromolow {
  display: block;
}
.platform-bromolow li.enable-bromolow {
  display: list-item;
}

.platform-cedarview .enable-cedarview {
  display: block;
}
.platform-cedarview li.enable-cedarview {
  display: list-item;
}

.platform-comcerto2k .enable-comcerto2k {
  display: block;
}
.platform-comcerto2k li.enable-comcerto2k {
  display: list-item;
}

.platform-dockerx64 .enable-dockerx64 {
  display: block;
}
.platform-dockerx64 li.enable-dockerx64 {
  display: list-item;
}

.platform-evansport .enable-evansport {
  display: block;
}
.platform-evansport li.enable-evansport {
  display: list-item;
}

.platform-grantley .enable-grantley {
  display: block;
}
.platform-grantley li.enable-grantley {
  display: list-item;
}

.platform-hi3535 .enable-hi3535 {
  display: block;
}
.platform-hi3535 li.enable-hi3535 {
  display: list-item;
}

.platform-kvmx64 .enable-kvmx64 {
  display: block;
}
.platform-kvmx64 li.enable-kvmx64 {
  display: list-item;
}

.platform-monaco .enable-monaco {
  display: block;
}
.platform-monaco li.enable-monaco {
  display: list-item;
}

.platform-northstarplus .enable-northstarplus {
  display: block;
}
.platform-northstarplus li.enable-northstarplus {
  display: list-item;
}

.platform-ppc853x .enable-ppc853x {
  display: block;
}
.platform-ppc853x li.enable-ppc853x {
  display: list-item;
}

.platform-qoriq .enable-qoriq {
  display: block;
}
.platform-qoriq li.enable-qoriq {
  display: list-item;
}

.platform-ti816x .enable-ti816x {
  display: block;
}
.platform-ti816x li.enable-ti816x {
  display: list-item;
}

.platform-x86 .enable-x86 {
  display: block;
}
.platform-x86 li.enable-x86 {
  display: list-item;
}

.model-eds14 .enable-eds14 {
  display: block;
}
.model-eds14 li.enable-eds14 {
  display: list-item;
}

.model-ds1616p .enable-ds1616p {
  display: block;
}
.model-ds1616p li.enable-ds1616p {
  display: list-item;
}

.model-rs10613xsp .enable-rs10613xsp {
  display: block;
}
.model-rs10613xsp li.enable-rs10613xsp {
  display: list-item;
}

.model-rs3411rpxs .enable-rs3411rpxs {
  display: block;
}
.model-rs3411rpxs li.enable-rs3411rpxs {
  display: list-item;
}

.model-rs3412rpxs .enable-rs3412rpxs {
  display: block;
}
.model-rs3412rpxs li.enable-rs3412rpxs {
  display: list-item;
}

.model-rs3411xs .enable-rs3411xs {
  display: block;
}
.model-rs3411xs li.enable-rs3411xs {
  display: list-item;
}

.model-rs3412xs .enable-rs3412xs {
  display: block;
}
.model-rs3412xs li.enable-rs3412xs {
  display: list-item;
}

.model-3611xs .enable-3611xs {
  display: block;
}
.model-3611xs li.enable-3611xs {
  display: list-item;
}

.model-3612xs .enable-3612xs {
  display: block;
}
.model-3612xs li.enable-3612xs {
  display: list-item;
}

.model-3615xs .enable-3615xs {
  display: block;
}
.model-3615xs li.enable-3615xs {
  display: list-item;
}

.model-rs3413xsp .enable-rs3413xsp {
  display: block;
}
.model-rs3413xsp li.enable-rs3413xsp {
  display: list-item;
}

.model-rs3614xs .enable-rs3614xs {
  display: block;
}
.model-rs3614xs li.enable-rs3614xs {
  display: list-item;
}

.model-rs3614rpxs .enable-rs3614rpxs {
  display: block;
}
.model-rs3614rpxs li.enable-rs3614rpxs {
  display: list-item;
}

.model-rs3614xsp .enable-rs3614xsp {
  display: block;
}
.model-rs3614xsp li.enable-rs3614xsp {
  display: list-item;
}

.model-rs3415xsp .enable-rs3415xsp {
  display: block;
}
.model-rs3415xsp li.enable-rs3415xsp {
  display: list-item;
}

.model-rc18015xsp .enable-rc18015xsp {
  display: block;
}
.model-rc18015xsp li.enable-rc18015xsp {
  display: list-item;
}

.model-es3614xsp .enable-es3614xsp {
  display: block;
}
.model-es3614xsp li.enable-es3614xsp {
  display: list-item;
}

.model-rs18015xsp .enable-rs18015xsp {
  display: block;
}
.model-rs18015xsp li.enable-rs18015xsp {
  display: list-item;
}

.model-rs18016xsp .enable-rs18016xsp {
  display: block;
}
.model-rs18016xsp li.enable-rs18016xsp {
  display: list-item;
}

.model-rs2416p .enable-rs2416p {
  display: block;
}
.model-rs2416p li.enable-rs2416p {
  display: list-item;
}

.model-rs2416rpp .enable-rs2416rpp {
  display: block;
}
.model-rs2416rpp li.enable-rs2416rpp {
  display: list-item;
}

.model-nvr216 .enable-nvr216 {
  display: block;
}
.model-nvr216 li.enable-nvr216 {
  display: list-item;
}

/* end of enable model/platform */
/* start of tutorial */
.tutorial-content-box {
  color: #444;
  padding: 0 16px;
}
.tutorial-content-box .section {
  width: 97%;
  background-color: #F9F9F9;
  border: 1px dotted #CCC;
  margin: 0px;
  margin-bottom: 20px;
  margin-top: 15px;
  padding: 10px;
}
.tutorial-content-box .section h4 {
  width: 97%;
  background-color: #F9F9F9;
  margin: 0em;
  padding: 0em;
}
.tutorial-content-box .section p {
  margin-top: 0px;
  margin-bottom: 0px;
}
.tutorial-content-box .page-info {
  border: 1px solid #B6D9F2;
  background-color: #F2FAFF;
  margin: 10px 20px 10px 10px;
  padding: 8px 0 2px 0;
}
.tutorial-content-box .page-info ul {
  margin: 0 10px !important;
  padding: 0 0 0 13px;
}
.tutorial-content-box .page-info ul li {
  color: #505a64;
  line-height: 22px;
  padding: 0;
  margin: 0 0 6px 9px;
}
.tutorial-content-box .page-info ul a {
  color: #0086E5;
  text-decoration: none;
  cursor: pointer;
}
.tutorial-content-box p {
  margin: 1em 0 1em 0;
}
.tutorial-content-box h1, .tutorial-content-box h2, .tutorial-content-box h3, .tutorial-content-box h4, .tutorial-content-box p, .tutorial-content-box div {
  color: #505A64;
  font-family: "Arial", "微軟正黑體",  "微软雅黑", "Verdana", "Helvetica", "sans-serif", "Meiryo", "Malgun Gothic","Gulim";
}
.tutorial-content-box h1 {
  font-weight: bold;
  padding: 0;
}
.tutorial-content-box h2 {
  margin: 0 0 1.6em 0;
}
.tutorial-content-box h3,
.tutorial-content-box h4 {
  background-color: transparent;
  color: #007ABD;
  margin: 1.6em 0 0.8em 0;
}
.tutorial-content-box ol li {
  list-style: decimal;
}
.tutorial-content-box ul li {
  list-style: disc;
}
.tutorial-content-box ul li,
.tutorial-content-box ol li {
  color: #4B4B4B;
  text-align: left;
  word-spacing: -1px;
  margin: 0 0 0 1.6em;
}
.tutorial-content-box ol .code_div {
  font-size: 1em;
}
.tutorial-content-box .code_div {
  width: 97%;
  background-color: #F9F9F9;
  border: 1px dotted #CCC;
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 0.75em;
  line-height: 1.8em;
}
.tutorial-content-box .code_div p {
  font-size: 1em;
  margin-top: 0px;
  margin-bottom: 0px;
}
.tutorial-content-box img {
  display: block;
  margin-bottom: 10px;
  max-width: 95%;
}
.tutorial-content-box .tutorials_content hr {
  margin-bottom: 1.6em;
}
.tutorial-content-box .tutorials_content h2 {
  margin: 1.6em 0 0.8em 0;
}
.tutorial-content-box .tutorials_content p.right {
  text-align: right;
}
.tutorial-content-box .tutorials_content ul, .tutorial-content-box .tutorials_content ol {
  margin: 0px;
}
.tutorial-content-box .tutorials_content ul ul, .tutorial-content-box .tutorials_content ol ul {
  list-style: disc;
  margin: 0 0 0.8em 1.6em;
}
.tutorial-content-box .tutorials_content strong, .tutorial-content-box .tutorials_content b {
  font-size: 1em;
  font-weight: bold;
  padding: 0em;
}
.tutorial-content-box .launch-app {
  cursor: pointer;
}
.tutorial-content-box .tutorial-topic-table {
  font-size: 1em;
  width: 100%;
  margin: 0 0 14px 0;
}
.tutorial-content-box .tutorial-topic-table td {
  border: 1px solid #B6D9F2;
  background-color: #F2FAFF;
}
.tutorial-content-box .tutorial-topic-table td a {
  color: #0086E5;
  text-decoration: none;
  display: list-item;
  list-style-type: square;
  margin-left: 26px;
  line-height: 28px;
}
.router .tutorial-content-box .tutorial-topic-table td a {
  color: #2A588C;
}
.tutorial-content-box .tutorial-topic-table td a:hover {
  text-decoration: none;
}

.tutorial-home {
  width: 98%;
}
.tutorial-home .tutorial-wrap {
  position: relative;
}
.tutorial-home .tutorial-all-topic-table {
  width: 98%;
  border: 0px;
  margin: 0;
}
.tutorial-home .tutorial-all-topic-table a {
  text-decoration: none;
}
.tutorial-home .tutorial-all-topic-table a:hover {
  text-decoration: none;
}
.tutorial-home .tutorial-all-topic-table td {
  width: 50%;
  border: 0px;
  padding: 0;
  border-width: 0 4px 10px 4px;
  border-color: #ffffff;
  border-style: solid;
  vertical-align: top;
}
.tutorial-home .tutorial-all-topic-table td:hover {
  background-color: #e6f5ff;
}
.tutorial-home .tutorial-all-topic-table tr > :last-child {
  border-width: 0 4px 10px 13px;
}
.tutorial-home .tutorial-all-topic-table .tutorial-box {
  cursor: pointer;
  width: 100%;
  min-height: 144px;
}
.tutorial-home .tutorial-all-topic-table .tutorial-box .StoreFiles-icon {
  float: left;
  width: 92px;
  height: 144px;
  background-position: 12px 12px;
  background-image: url("images/StoreFiles.png");
  background-repeat: no-repeat;
}
.tutorial-home .tutorial-all-topic-table .tutorial-box .MediaServer-icon {
  float: left;
  width: 92px;
  height: 144px;
  background-position: 12px 12px;
  background-image: url("images/MediaServer.png");
  background-repeat: no-repeat;
}
.tutorial-home .tutorial-all-topic-table .tutorial-box .SecureNAS-icon {
  float: left;
  width: 92px;
  height: 144px;
  background-position: 12px 12px;
  background-image: url("images/SecureNAS.png");
  background-repeat: no-repeat;
}
.tutorial-home .tutorial-all-topic-table .tutorial-box .CloudStation-icon {
  float: left;
  width: 92px;
  height: 144px;
  background-position: 12px 12px;
  background-image: url("images/CloudStation.png");
  background-repeat: no-repeat;
}
.tutorial-home .tutorial-all-topic-table .tutorial-box .ManagePhotos-icon {
  float: left;
  width: 92px;
  height: 144px;
  background-position: 12px 12px;
  background-image: url("images/ManagePhotos.png");
  background-repeat: no-repeat;
}
.tutorial-home .tutorial-all-topic-table .tutorial-box .LearnMore-icon {
  float: left;
  width: 92px;
  height: 144px;
  background-position: 12px 12px;
  background-image: url("images/LearnMore.png");
  background-repeat: no-repeat;
}
.tutorial-home .tutorial-all-topic-table .tutorial-box .BackupData-icon {
  float: left;
  width: 92px;
  height: 144px;
  background-position: 12px 12px;
  background-image: url("images/BackupData.png");
  background-repeat: no-repeat;
}
.tutorial-home .tutorial-all-topic-table .tutorial-box .Tutorial-icon {
  float: left;
  width: 92px;
  height: 144px;
  background-position: 12px 12px;
  background-image: url("images/Tutorial.png");
  background-repeat: no-repeat;
}
.tutorial-home .tutorial-all-topic-table .tutorial-box .Faq-icon {
  float: left;
  width: 92px;
  height: 144px;
  background-position: 12px 12px;
  background-image: url("images/Faq.png");
  background-repeat: no-repeat;
}
.tutorial-home .tutorial-all-topic-table .tutorial-box .CompatibilityList-icon {
  float: left;
  width: 92px;
  height: 144px;
  background-position: 12px 12px;
  background-image: url("images/CompatibilityList.png");
  background-repeat: no-repeat;
}
.tutorial-home .tutorial-all-topic-table .tutorial-box .VideoTutorial-icon {
  float: left;
  width: 92px;
  height: 144px;
  background-position: 12px 12px;
  background-image: url("images/VideoTutorial.png");
  background-repeat: no-repeat;
}
.tutorial-home .tutorial-all-topic-table .tutorial-box .tutorial-content {
  padding: 12px 8px 0 106px;
  width: auto;
  min-height: 132px;
}
.tutorial-home .tutorial-all-topic-table .tutorial-box .tutorial-content .tutorial-box-title {
  color: #505a64;
  line-height: 16px;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 18px;
}
.tutorial-home .tutorial-all-topic-table .tutorial-box .tutorial-content .tutorial-box-subtitle {
  font-weight: normal;
  color: #505a64;
  line-height: 18px;
  font-size: 13px;
  padding-bottom: 12px;
}
.tutorial-home .tutorial-table-border {
  position: absolute;
  top: 0;
  left: 49%;
  width: 1px;
  height: 100%;
  background-color: #e5e5e5;
}

.online-resource {
  font-family: "Arial", "微軟正黑體",  "微软雅黑", "Verdana", "Helvetica", "sans-serif", "Meiryo", "Malgun Gothic","Gulim";
}
.online-resource a.online-source-link {
  color: #505a64;
}
.online-resource a.online-source-link:hover {
  text-decoration: none;
}
.online-resource .online-resource-wrap {
  width: auto;
  height: 72px;
  background-color: #eef6fc;
  border-radius: 5px;
  position: relative;
  border: 1px solid transparent;
  margin: 0px 12px 8px 16px;
  padding: 20px 24px;
}
.online-resource .online-resource-wrap:hover {
  border: 1px solid #96c8ea;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YwZjdmYyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RlZWVmYSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f0f7fc), color-stop(100%, #deeefa));
  background-image: -moz-linear-gradient(top, #f0f7fc, #deeefa);
  background-image: -webkit-linear-gradient(top, #f0f7fc, #deeefa);
  background-image: linear-gradient(to bottom, #f0f7fc, #deeefa);
}
.online-resource .online-resource-wrap .online-resource-img {
  float: left;
  width: 136px;
  height: 72px;
  background-repeat: no-repeat;
}
.online-resource .online-resource-wrap .online-resource-img.faq {
  background-image: url(images/OnlineResource/Faq.png);
}
.online-resource .online-resource-wrap .online-resource-img.online-tutorial {
  background-image: url(images/OnlineResource/Tutorial.png);
}
.online-resource .online-resource-wrap .online-resource-img.video-tutorial {
  background-image: url(images/OnlineResource/VideoTutorial.png);
}
.online-resource .online-resource-wrap .online-resource-img.compatible-list {
  background-image: url(images/OnlineResource/CompatibilityList.png);
}
.online-resource .online-resource-wrap .online-resource-text-wrap {
  width: auto;
  height: 64px;
}
.online-resource .online-resource-wrap .online-resource-text-wrap .online-resource-text-title {
  color: #505a64;
  font-size: 15px;
  line-height: 28px;
  font-weight: bold;
  padding: 4px 0px;
}
.online-resource .online-resource-wrap .online-resource-text-wrap .online-resource-text-desc {
  font-size: 12px;
  color: #505a64;
  line-height: 16px;
}
