<div class="login-dialog-wrapper {{bg_info.tpl_type}}">
	<div class="login-title">{{title}}</div>
	<form name="LoginForm" novalidate class="login-form {{bg_info.tpl_type}}">
		<div class="enter-text-wrapper">
			<div class="enter-text">{{enter_text}}</div>
		</div>

		<label class="item item-input syno-textfield with-icon" ng-show="!is_pswd_type">
			<div class="icon account"></div>
			<input type="text" name="name" placeholder="{{user_empty_text}}" ng-keyup="ClearLoginError()" ng-model="login_info.username" ng-disabled="processing" ng-required="!is_pswd_type" textfield>
		</label>

		<label class="item item-input syno-textfield with-icon">
			<div class="icon password"></div>
			<input type="password" name="password" placeholder="{{pswd_empty_text}}" ng-keyup="ClearLoginError()" ng-model="login_info.password" ng-disabled="processing" textfield>
		</label>

		<button type="" class="button button-block syno-btn blue" ng-disabled="!LoginForm.$valid" ng-click="Login()" ng-disabled="processing"> {{login_text}} </button>
	</form>
</div>
