#wrapper {
	width: 100%;
}

ol li,
ul ol li {list-style-type: decimal;}
ul li {list-style-type: disc;}
ul ul li {list-style-type: circle;}
ul ul ul li {list-style-type: square;}
ol ol li {list-style-type: lower-alpha;}
ol ol ol li {list-style-type: lower-roman;}

b, strong {
	font-weight: bold;
}
i {
	font-style: italic;
	color: #123edf;
}

#mobile_app_faq {
	font-family: Arial, "Microsoft JhengHei", 微軟正黑體, "Microsoft YaHei", 微软雅黑, "Lucida Sans Unicode", Helvetica, 新細明體, Verdana, sans-serif; 
}
	
#mobile_app_faq .ui-state-default .ui-icon, #mobile_app_faq .ui-state-active .ui-icon {
	width: 20px;
	height: 20px;
	display: table-cell;
	float: right;
	margin-left: 1em;
}
#mobile_app_faq .ui-state-default h3 {
	background: url(images/faq_list_open_2x.png) right center no-repeat; 
	background-size: 17px 16px;
}
#mobile_app_faq .ui-state-active h3 {
	background: url(images/faq_list_close_2x.png) right center no-repeat;
	background-size: 18px 6px;	
}

#mobile_app_faq .ui-accordion-header {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #ececec 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ececec)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#ececec 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#ececec 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#ececec 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#ececec 100%); /* W3C */
	padding: 1em;
	color: #595d60;
	border-bottom: 2px solid #dddddd;
	border-top: 1px solid #bdbdbd;
}
#mobile_app_faq .ui-accordion-header:hover {
	cursor: pointer;
}
#mobile_app_faq .ui-accordion-header:first-child {
	border-top: none;
}

#mobile_app_faq .ui-state-active {
	background: #6e6f70;
	border-bottom: 1px solid #616263;
	color: #ffffff;
}

#mobile_app_faq .ui-accordion-content {
	background: #e5e6e7;
	border-bottom: 1px solid #c8c8cb;
	color: #434343;
	line-height: 1.6em;
}
#mobile_app_faq .ui-accordion-content-active {
	border-bottom: 1px solid #d6d7d8;
}

#mobile_app_faq .ui-accordion-content h1, #mobile_app_faq .ui-accordion-content h2 {
	color: #333;
	text-shadow: 1px 1px #dddddd;
	margin-bottom: .8em;
}
#mobile_app_faq .ui-accordion-content h1 {
	font-size: 1.5em;
	line-height: 1em;
}
#mobile_app_faq .ui-accordion-content h2 {
	font-size: 1.4em;
	line-height: 1em;
}
#mobile_app_faq .ui-accordion-content p, #mobile_app_faq .ui-accordion-content ul, #mobile_app_faq .ui-accordion-content ol {
	color: #434343;
	line-height: 1.4em;
	text-shadow: 1px 1px #dddddd;
	padding-bottom: .8em;
}
#mobile_app_faq .ui-accordion-content ul, #mobile_app_faq .ui-accordion-content ol {
	margin-left: 1.4em;
}

#mobile_app_faq .ui-state-default .faq_list_head, #mobile_app_faq .ui-state-active .faq_list_head {
	padding-left: 2em;
	display: block;
	line-height: 1.3em;
	/* fix iphone font size get bigger when landscape view issue */
	-webkit-text-size-adjust: 100%;
	-webkit-transform: scale(1.0);
}
#mobile_app_faq .ui-state-default .faq_list_head {
	background: url(images/faq_list_question_head_2x.png) 0 2px no-repeat; 
	background-size: 18px 17px;
	text-shadow: 1px 1px #cccccc;
}
#mobile_app_faq .ui-state-active .faq_list_head {
	background: url(images/faq_list_question_head_active_2x.png) 0 2px no-repeat;
	background-size: 20px 19px;
	text-shadow: 1px 1px #333333;
}

#mobile_app_faq .ui-accordion-content-active .faq_ans_content_wrapper {
	padding: 1em 1em 1em 1em;
	margin: 0;
	border-bottom: 1px solid #c8c8cb;
	border-top: 1px solid #f2f3f3;
}
#mobile_app_faq .ui-accordion-content-active .faq_ans_content_wrapper:last-child {
	padding: 1em 1em 1em 1em;
	margin: 0;
	border-bottom: none;
}
#mobile_app_faq .ui-accordion-content-active .first {
	padding: 1em 1em 1em 1em;
	margin: 0;
	border-bottom: 1px solid #c8c8cb;
	border-top: none;
}
#mobile_app_faq .ui-accordion-content-active .faq_ans_content {
	background: url(images/faq_list_answer_head_2x.png) left top no-repeat;
	background-size: 22px 23px;
	margin-right: 2.3em;
	padding-left: 2em;	/* fix iphone font size get bigger when landscape view issue */
	-webkit-text-size-adjust: 100%;
	-webkit-transform: scale(1.0);
}