.scrollgeneric{line-height:1px;font-size:1px;position:absolute;top:0;left:0}.vscrollerbase,.hscrollerbase{width:0px;height:0px}.vscrollerbar,.hscrollerbar{background-position:0 0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=$ieOpacity)";filter:alpha(opacity=20);filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=20);opacity:0.2;-webkit-transition-property:opacity;-moz-transition-property:opacity;-o-transition-property:opacity;transition-property:opacity;-webkit-transition-timing-function:ease-in;-moz-transition-timing-function:ease-in;-o-transition-timing-function:ease-in;transition-timing-function:ease-in;-webkit-transition-duration:0.2s;-moz-transition-duration:0.2s;-o-transition-duration:0.2s;transition-duration:0.2s}.vscrollerbar:hover,.hscrollerbar:hover{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=$ieOpacity)";filter:alpha(opacity=30);filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=30);opacity:0.3}.vscrollerbar:active,.hscrollerbar:active{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=$ieOpacity)";filter:alpha(opacity=40);filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=40);opacity:0.4}.vscrollerbar{width:10px;margin-left:-10px}.hscrollerbar{height:10px;margin-top:-10px}.vscrollerbar{background-image:url(../images/scrollbar/scrollbar_black_v.png?v=4363);background-repeat:repeat-y}.white-scrollerbar .vscrollerbar{background-image:url(../images/scrollbar/scrollbar_white_v.png?v=4363)}.hscrollerbar{background-image:url(../images/scrollbar/scrollbar_black_h.png?v=4363);background-repeat:repeat-x}.white-scrollerbar .hscrollerbar{background-image:url(../images/scrollbar/scrollbar_white_h.png?v=4363)}

@media
(-webkit-min-device-pixel-ratio: 1.5),
(   min--moz-device-pixel-ratio: 1.5),
(     -o-min-device-pixel-ratio: 3/2),
(        min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi) {
	.vscrollerbar{
		background-image:url(../images/scrollbar/2x/scrollbar_black_v.png);
		background-repeat:repeat-y
	}
	.white-scrollerbar .vscrollerbar{
		background-image:url(../images/scrollbar/2x/scrollbar_white_v.png)
	}
	.hscrollerbar{
		background-image:url(../images/scrollbar/2x/scrollbar_black_h.png);
		background-repeat:repeat-x
	}
	.white-scrollerbar .hscrollerbar{
		background-image:url(../images/scrollbar/2x/scrollbar_white_h.png);
	}
}