/* 基本版型 */
body
{
	background-color: #FEFEFE;
	margin: 10px 5px;
	padding: 0px;
}

/* 區塊 */
div.section
{
	border: 1px solid #999999;
	background-color: #EFEFEF;
	margin: 10px 15px;
}

div.section h3 { font-size: 14px; color:#333; margin-left:5px; }
div.section h4 { font-size: 13px; color:#333; }
div.section p, div.section li, div.section dt, div.section dd
{
	font-size: 13px;
	font-weight: normal;
}

div.link
{
	background-color: #FEC;
	margin:5px 10px 20px 10px;
	border: 1px solid #F93;
}
div.link p
{
	background-color: #F93;
	padding: 0 2px;
	margin: 0;
	font-weight: 800;
	color: #FFF;
	text-align: center;
}
div.link a
{
font-weight: 300;
letter-spacing: 0px;
text-decoration: none;
color: black;
}
div.link a:hover
{
color: orange;
font-size: 13px;
font-weight: 800;
}
div.link a:active
{
color: red;
}

.top {
	text-align: right;
	padding-bottom: 1em;
}
.top a {
	text-decoration: none;
	color: white;
	font-weight: 800;
	padding:2px;
	font-size: 10px;
	background-color: #F93;
}
.top a:hover {
color: yellow;
}
.top a:active {
color: red;
font-size: 11px;
}

.location, .location2
{
	text-align: left;
	font-size: 10px;
	margin: 0 10px;
	line-height: 1em;
	border-top: 1px #000 dotted;
	padding: 4px 0 8px 0;
}
.location2 { border-top: none; }
.location b, .location2 b {
	font-style: italic;
	color: white;
	background-color: #777;
	padding-right:3px;

}
.location span, .location2 span {
	background-color: #777;
	color: #CCC;
	padding-right:3px;
	padding: 3px;
}
.location span.head, .location2 span.head {
background-color: #444;
padding-left:2px;
color:white;
}

/* 標題 */
h1, h2, h3, h4
{
	font-family: "Arial", "Helvetica", "sans-serif";
	color: #222200;
	margin: 1em 10px 0.5em 10px;
	padding: 0 0 1px 0;
	font-weight: 600;
}

h1
{
	margin-top: 0;
	border-bottom: 1px solid;
	font-weight: 800;
	font-size: 18px;
}
h2
{
border-bottom: 1px #000 dotted;
font-size: 17px;

}
h3
{
	margin: 1em 10px 0 10px;
	padding: 1px 2px;
	background-color: #EFEFEF;
	font-size: 15px;
}

h4
{
	margin-top: 0.5em;
	margin-bottom:0.20em;
	font-family: "Arial", "Helvetica", "sans-serif";
	font-weight: 600;
	font-size: 15px;
	color: #338;
}

/* 段落 */
p, ol, ul, dl, table
{
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 15px;
	color: #444444;
	line-height: 22px;
	margin: 0 10px 0 10px;
	padding: 0 0 6px 0;
}

ol li, ul li
{
	font-size: 15px;
	margin: 0 0 0 22px;
	padding-bottom: 6px;
}

ol ul, ul ul, ol ol, ul ol { padding-bottom: 0px; }
ul li { list-style-type: square; }
ol ul li, ul ul li { list-style-type: square; }
ol ol li, ul ol li { list-style-type: lower-alpha; }
li.no { list-style-type: none; }
ul p {padding-left: 15px;}
/* 表格 */
table, th, td
{
	border: 1px solid #999999;
	border-collapse: collapse;
	font-size: 10px;
	vertical-align: middle;
	padding: 0px;
}
table
{
width: 95%;
margin-bottom: 1em;
}
th,td
{
	padding: 1px 5px 1px 5px;
	background-color: #EFEFEF;
}

td { background-color: #FEFEFE; }
table caption {
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 600;
	font-size: 12px;
}

/* 段落中的強調文字 */
.letterSpace5
{
	letter-spacing: 3px;
	color: #CC0000;
}

b, i, strong
{
	color: #222200;
	padding-left: 2px;
	padding-right: 2px;
	font-weight: 600;
}

.note_head
{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 600;
	color: #C30;
	margin-right: 2px;
}
.note_content { color: #CC0000; }
dt { font-weight: 800; }
a
{
	text-decoration: none;
	color: #36D;
	font-weight: 600;
	letter-spacing: 0.5px;
}
a:hover {
text-decoration:underline;
color: #06C;
}
a:active {
font-size: 110%;
color: #C03;
}

.x-hidden-display {
	display: none;
}
