<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
		<meta http-equiv='X-UA-Compatible' content='IE=11'/>
		<title>{PAGE_TITLE}</title>
		<link rel='stylesheet' type='text/css' href='{PREFIX}scripts/ext-3/resources/css/ext-all.css?v={VERSION}{RANDOM}' />
		<link rel='stylesheet' type='text/css' href='{PREFIX}scripts/ext-3/ux/ux-all.css?v{VERSION}{RANDOM}' />
		<link rel='stylesheet' type='text/css' href='{PREFIX}synoSDSjslib/sds.css?v={VERSION}{RANDOM}' />
		<link rel='stylesheet' type='text/css' href='{PREFIX}webman/resources/css/desktop.css?v={VERSION}{RANDOM}' />
		<link rel='stylesheet' type='text/css' href='{PREFIX}webman/modules/FileBrowser/style.css?v={VERSION}{RANDOM}' />
		<link rel='stylesheet' type='text/css' href='{PREFIX}webman/modules/FileBrowser/webfm/folderSharing/style.css?v={VERSION}{RANDOM}' />
		<script type='text/javascript'>var g_Lang = '{LANG}';</script>
		<script type='text/javascript'>var g_Version = '{VERSION}';</script>
		<script type='text/javascript'>var g_MD5 = '{KEY}';</script>
		<script type='text/javascript'>var g_FolderPath = '{PATH}';</script>
		<script type='text/javascript' src='{PREFIX}webapi/entry.cgi?api=SYNO.Core.Desktop.Defs&method=getjs&version=1&v={VERSION}'></script>
		<script type='text/javascript' src='{PREFIX}webapi/entry.cgi?api=SYNO.Core.Desktop.JSUIString&version=1&method=getjs&lang={LANG}&v={VERSION}'></script>
		<script type='text/javascript' src='{PREFIX}webapi/entry.cgi?api=SYNO.FileStation.UIString&method=getjs&version=1&lang={LANG}&v={VERSION}'></script>
		<script type='text/javascript' src='{PREFIX}webapi/entry.cgi?api=SYNO.Core.Desktop.UIString&method=getjs&version=1&lang={LANG}&v={VERSION}'></script>
		<script type='text/javascript' src='{PREFIX}scripts/prototype-1.6.1/prototype.js?v={VERSION}{RANDOM}'></script>
		<script type='text/javascript' src='{PREFIX}scripts/ext-3/adapter/ext/ext-base.js?v={VERSION}{RANDOM}'></script>
		<script type='text/javascript' src='{PREFIX}scripts/ext-3/ext-all.js?v={VERSION}{RANDOM}'></script>
		<script type='text/javascript' src='{PREFIX}scripts/ext-3/ux/ux-all.js?v={VERSION}{RANDOM}'></script>
		<script type='text/javascript' src='{PREFIX}scripts/scrollbar/flexcroll.js?v={VERSION}{RANDOM}'></script>
		<script type='text/javascript' src='{PREFIX}webman/modules/FileBrowser/FolderSharingLoader.js?v={VERSION}{RANDOM}'></script>
	</head>
	<body>
	</body>
</html>
